.about-container {
  padding: 20px;
  border-top: 1px solid #0ea383;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  &-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url('/assets/images/mdeamf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.about-content {
  padding: 20px;

  .about-item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;

    &-icon {
      font-size: 128px;
      min-height: 128px;
      margin-bottom: 20px;
    }

    &-icon>:nth-child(1) {
      font-size: 128px;
      fill: url(#about-item-gradient);
    }
  }
}

.about-technologies {
  .list-group-item.active {
    background-color: #0ea383;
    border-color: #0ea383;
  }

  .list-group-item:hover {
    background-color: #0ea383;
    color: white;
    transition: background-color 0.3s ease-in;
  }

  &-item {
    display: flex !important;
    align-items: center;

    &-icon {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
  }

  &-selected {
    min-height: 220px;
    padding: 20px 0;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;

    @media screen and (max-width: 767px) {
      min-height: 350px;
      margin-top: 20px;
    }

    .hide {
      transition: opacity 0.2s ease-in;
      opacity: 0;
    }

    .show {
      transition: opacity 0.2s ease-in;
      opacity: 1;
    }

    &-icon {
      display: flex;
      align-items: center;
      font-size: 128px;
    }

    &-icon,
    &-title {
      color: #0ea383;
      font-weight: 400;
    }
  }
}