$gradient-color-1: #3e0a42;
$gradient-color-2: #17353f;

.about-container {
  padding: 20px;
  background-color: #f8f8f8;
  min-height: 100vh;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .about-me-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-image: url('/assets/images/mdeamf.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.about-content {
  padding: 20px;

  .about-item {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;

    .about-item-icon {
      font-size: 128px;
    }

    .about-item-icon>:nth-child(2) {
      font-size: 128px;
      fill: url(#about-item-gradient);
    }
  }
}